html,
body{
    height: 100%;
    background-color: #404e55 !important;
}

.global-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0db8de;
}

.form-class{
    padding-top: 20px;
    font-size: 17px;
    margin-top: 10px;
    line-height: 50px;
}

.login-form{
    width: 600px;
    margin: 20px;
    background: #1a2226;
    border-radius: 10px !important;
}
.card-title{
    font-weight: 700;
    padding-top: 10px;
}

.btn{
    background: #0db8de;
    margin-top: 40px;
    margin-left: 250px;
    color: rgb(10, 10, 20);
   
}

